<div
  class="modal-content-addtask"
>
  <div class="modal-header d-block pb-3">
    <div class="row modal-heading-row">
     
      <div class="col-md-15">
    
        <span class="modal-title">New Task</span>
        <img
          class="close pull-right circle"
          src="../../../../assets/task-details/close_icon.svg"
          (click)="closeModal()"
        />
      
      </div>
      <div class="col-md-15" >
        <img src="../../../../assets/modal-images/Add task_1.png" />
       
        <img
          class="close pull-right circle"
          src="../../../../assets/task-details/close_icon.svg"
          (click)="closeModal()"
        />
      </div>
    </div>
  </div>
