.activity-table {
  width: 100%;
  border-collapse: collapse;
}

.activity-table th,
.activity-table td {
  padding: 8px 12px;
  border: 1px solid #ccc;
}

.bar-container {
  height: 16px;
  background: #f0f0f0;
  border-radius: 0px;
  overflow: hidden;
}

.bar {
  height: 100%;
  background-color: #4caf50;
}
.bar-td {
  width: 600px;
}
.fourtile{
  border: 1px solid lightgrey;
}
.fa{
  color: #46885a;
}
.download-btn {
  background-color: #d2efdb;
  height: 100%;
  display: flex;
  align-items: center;
  border: #46885a;
  padding: 5px 10px;
}
.grey-bg{
  background-color: #f7f3f3;
}
 .custom-datepicker-theme .bs-datepicker-head {
    background-color: #f7f3f3 !important;
  }
