.modal-header{
    background-color: #0a356b;
    color: white;
}
.form-group {
    position: relative;
    .label {
      font-family: "Poppins", sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: black;
      font-weight: 700;
    }
    input {
      font-family: "Poppins", sans-serif;
      font-size: 0.7rem;
    }
  
  }