
.custom-button {
 background: linear-gradient(to bottom right, #a020ef, #CB0FBC, #f7029d);
  color: #ffffff;
  border: 1px solid #cccccc;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
}

.custom-button:hover {
  background-color: #ffffff;
  background: none;
  color: #c662be;
  border-color: #c662be;
}
  .team-card{
    height: 60px;
    background-color:#e6f0ea; ;
  }
  .pointer{
    cursor: pointer;
  }
 